h1{
    color: turquoise; font-size: 50px; margin-left: 350px;
}
ul{
    color: rgb(13, 13, 13); font-size: 20px; margin-left: 435px;
}
body{
    margin-left: 50px; margin-right: 50px;
}
a{
    margin-left: 500px;
}
.img1{
    margin-left: 300px; 
}
a{
    margin-left: 935px;
}
.img2{
    margin-left: 100px;
}
.img3{
    margin-left: 300px;
}
.img4{
    margin-left: 100px; margin-top: 20px;
}
.img5{
    margin-left: 300px;
}